<!-- {% extends 'awwards/home.html' %}
{% block content %}
    <div class="m-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
               <a href="{% url 'home' %}" class="btn btn-dark m-3">Previous Page</a>

               <div style="height :90vh;">
                   <img style="max-width: 100% ;max-height: 100% ;"src="{{user.profile.picture.url }}" class="card-img-top" alt="...">

                   <p>{{}}</p>
               </div>
          </div>

        </div>
      </div> -->

    </div>