{% extends 'awwards/home.html' %}
{% load static %}
{% block content %}

<style>
body {
    background-color: gray;
}
.media{
    
    text-align: center;
    padding: 10%;
}

</style>

<div class="media">
    <div class='d-sm-flex'>
    <img  src="{{ user.profile.picture.url }}" style="height: 180px;width: 180px;">
    <div class="media-body">
      <h2 class="profile-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.profile.bio }}</p>

    </div>
  </div>
  </div>
{% endblock content %}