{% extends 'awwards/home.html' %}
{% block content %}



<div class="container-fluid">
    <div class="row" style="display:flex;flex-wrap:wrap">
      {% for d in data %}
        <div class="card" style="width: 26rem;">
          
          <img src="{{ d.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ d.name }}</h5>
            <p class="card-text">{{ d.date_posted }}</p>
            <a href="#" class="btn btn-primary">View details</a>
          </div>
        </div>
        <div>
        <a href="{% url 'home' %}" class="btn btn-dark m-3">Previous Page</a>
       </div>
        {% endfor %}

        {% endblock content %}